@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-unbounded);
}

.grid-background {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 100px 100px;
  background-color: #111111;
}
